parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false

    paths:
        - src
        - tests

    parallel:
        processTimeout: 300.0

    excludes_analyse:
    ignoreErrors:
        -
            message: '#.*return type has no value type specified in iterable type array.*#'
            path: tests/*
includes:
    -  vendor/jangregor/phpstan-prophecy/extension.neon
